{:paths ["src" "resources" "lib" "examples"]
 :deps {io.github.kotoba-lang/org-w3-json-ld-api
        {:git/url "https://github.com/kotoba-lang/org-w3-json-ld-api.git"
         :git/sha "0d0a19df6d68a092df0cec5e5571a2b4a354ea27"}
        io.github.kotoba-lang/org-w3-rdf-canon
        {:git/url "https://github.com/kotoba-lang/org-w3-rdf-canon.git"
         :git/sha "e3e9223a48f162d07a1fcd8e2f01531b9c79d157"}}}
