{:paths ["src" "test" "resources" "lib" "examples"
         "../org-w3-json-ld-api/src"
         "../org-w3-rdf-canon/src"
         "../org-w3-nquads/src"
         "../io-multiformats/src"
         "../org-nist-sha2/src"
         "../text/src"]}
